$white: #f5e9e2;
$black: #0b0014;
$blue: #7d80da;
$green: #42e2b8;
$gray: #65655e;
$pink: #f09;

$font-primary: "Poppins", sans-serif;

$font-size-primary: 16px;
$font-weight-regular: 400;
$line-height-primary: 1.5;

$container-max-width: 1200px;
